OPENAI_API_KEY="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"
COHERE_API_KEY="JIBk2fImO4cD4BJusJZyqHy8dax9B1urNsfFDxFi"
QDRANT_URL=http://localhost:6333
QDRANT_API_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2Nlc3MiOiJtIn0.wk6-4mH7kKRmWDRyPr-9nGpJsJAB2les_j76i3SqoIo"